aside {
  position: relative;
  max-width: 400px;
  padding: 1.25rem 1rem 1rem;
  float: right;
  background-color: #f4f4f4;
  margin: 1rem 0 1rem 1rem;
}

aside::after {
  content: "";
  display: table;
  clear: both;
}

aside::before {
  position: absolute;
  display: block;
  top: -1rem;
  left: 0;
  content: "Nyttig info";
  font-weight: bolder;
  font-family: monospace;
  text-transform: uppercase;
  background-color: #f4f4f4;
  padding: 0.25rem 1rem 0;
}

.center-content {
  display: grid;
  place-items: center;
}

.prose a {
  text-decoration: none;
  border-bottom: 2px solid #e74727;
}

.prose a:hover {
  text-decoration: none;
  background: #e74727;
  color: white;
}

article.oppgave {
  background-color: #f6f8fa;
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: solid 0.15rem #e74727;
}
